---
import type { GetStaticPaths } from "astro";
import MainLayout from '../../layouts/MainLayout.astro'
import { Icon } from 'astro-icon/components';
import SliderSwiper from "../../components/slide/SliderSwiper";
import Slider from "../../components/slide/Slider.astro";

export const getStaticPaths = (({paginate}) => {
    
    const galeria = ['/img1.png', '/img2.jpg', '/img3.jpg', '/img4.jpg', '/img5.jpg', '/img6.png','/img7.png','/img8.png'];
    return paginate(galeria, {pageSize:1});

}) satisfies GetStaticPaths;

const {page} = Astro.props;

console.log(page);
const [data] = page.data

console.log(page.url)

console.log(data);


---

<MainLayout esconder="hidden" >
<section class="bg-black bg-opacity-70 ">
    <div class="galeria_container ">
        {
            page.url.prev && (
                <a href={page.url.prev} class="absolute right-[50%] z-10 h-[80%] w-[50%] flex flex-col justify-center items-start md:static md:w-auto "><Icon name="tabler:circle-arrow-left-filled" class="invisible md:visible text-4xl  text-yellow-50/60 backdrop-blur-md " /></a> //
                )
            }
                <div class="">
                <img  src={data}   
                alt='floresta'
                class="forest_img"
                />
                <a href="/" class=" top-[-45px] right-[8px] z-20 md:top-4 md:right-16 absolute "><Icon name="tabler:circle-x-filled" class="text-4xl text-yellow-50/60" /> </a>
            </div>
            
            {
                page.url.next && (
                    <a href={page.url.next} class="absolute left-[50%] z-10 h-[80%] w-[50%] flex flex-col justify-center items-end md:static md:w-auto "><Icon name="tabler:circle-arrow-right-filled" class=" invisible md:visible text-4xl  text-yellow-50/60 backdrop-blur-md"/></a>
                    )
                }
            
            <div id="bullets" class="flex gap-2 py-2 z-30 md:hidden">
                {Array.from({ length: page.lastPage }, (_, index) => (
                    <a href={
                        index == 0 ? page.url.first : '/galeria/' + (index + 1)
                    } id={`bullet_${index}`} class="p-2 bg-slate-600 rounded-full hover:outline outline-slate-400">
                        
                    </a>
                ))}
            </div>
        </div>
    </section>
    <!-- <Slider /> -->
</MainLayout>


<script define:vars={{page}}>
    const bullets = document.querySelectorAll('#bullets a');
    console.log(bullets);

    bullets.forEach(bullet => {
        const bulletId = parseInt(bullet.id.split('_')[1])+1;

        if(bulletId == 1){
            bullet.classList.add('bg-slate-400');
            bullet.classList.remove('bg-slate-600');
        }
        if(bulletId == page.currentPage){
            console.log('entrou no', bulletId)
            bullet.classList.add('bg-slate-400');
            bullet.classList.remove('bg-slate-600');
        }
        else{
            bullet.classList.remove('bg-slate-400');
            bullet.classList.add('bg-slate-600');
        }

        console.log(bullet)
    });

</script>

<style>
.galeria_container{
    width: 100vw;
    height: 70vh;
    max-width: 1536px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: relative;
}


.forest_img{
    max-width: 100wh;
    max-height: 350px;
}

@media (max-width: 768px) {
    .galeria_container {
        flex-direction: column; /* Em telas menores, as imagens ficarão em uma coluna */
        height: 100vh;
        padding-bottom: 80px;
    }

    .forest_img {
        max-width: 100%; /* Em telas pequenas, a imagem ocupa a largura total do contêiner */
        max-height: auto; /* Altura ajustável */
    }
}


</style>