---
import MainHead from "./MainHead.astro";
import Footer from "../components/Footer.astro";
import NavBar from "../components/NavBar.astro";
import Slider from "../components/slide/Slider.astro";
import Map from "../components/Map.astro";

interface Props {
  title?: string;
  description?: string;
  cel?: string;
  cep?: string;
  endereco?: string;
}

const {
  title = "Rio Catolé Lounge",
  description = "Landing Page do Rio Catolé Lounge",
  cel = "(+55 84) 98778-8888",
  cep = "59582-000",
  endereco = "Rua Santa Águeda, Pureza - RN, Brasil",

} = Astro.props;
---

<!doctype html>
<html lang="en">
  <MainHead {title} {description} />
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
  </style>
  <body
    class="m-auto text-white font-titulo flex self-center flex-col items-center justify-center bg-black"
  >
    <div class="bg-cover bg-no-repeat bg-center w-screen max-w-screen-2xl ">
      <div class="sticky inset-x-0 top-4 z-50 flex  items-center justify-between mx-8">
        <NavBar  />
        <img src="/transparent_image.png" class="h-16  rounded-md bg-yellow-50/60 border border-yellow-100/40" />

      </div>
      <div
        class=`flex flex-col w-[100%] items-center justify-center b`
      >
        <slot />
      </div>
      <div >
        <Slider />
      </div>
      <Map />
      <Footer {cel} {cep} {endereco}  />
    </div>
  </body>
</html>
